body {
    background-color: #1000;
}

.bg-image {
    height: 80vh;
    background-size: cover;
    background-position: center center;
    opacity: 40000px 
}

.btn-purple {
    color: #fff;
    background-color: #D51B1B;
    border-color: #D51B1B;
}

div.main {
    margin-top: 75px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}